/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

/* abstracts */
@import "abstracts/variables.css";

/* base */
@import "base/tools.css";

/* layout */
@import "layout/header.css";
@import "layout/navigation.css";
@import "layout/hero.css";
@import "layout/contact.css";
@import "layout/footer.css";

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--color-hsl-1);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: var(--color-3);
    line-height: 0;
}

.back-to-top:hover {
    background: var(--color-hsl-2);
    color: var(--color-3);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: var(--color-3);
    border-bottom: 1px solid #eee;
    font-size: 14px;
    height: 44px;
    padding: 0;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -44px;
}

#topbar .contact-info i {
    font-style: normal;
    color: #01b1d7;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #444444;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

#topbar .contact-info i a.email:hover {
    color: #01b1d7;
}

#topbar .social-links a {
    color: var(--color-4);
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
    border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
    color: #01b1d7;
}

#topbar .social-links a:first-child {
    border-left: 0;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f2fdff;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #354144;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #f3f5f5;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
}

.about .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #01b1d7;
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# About List
--------------------------------------------------------------*/
.about-list {
    padding-top: 0;
}

.about-list .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}

.about-list .icon-box i {
    font-size: 48px;
    float: left;
    color: #01b1d7;
}

.about-list .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.about-list .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    background: url("../img/counts-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
}

.counts::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.counts .title {
    position: relative;
    color: var(--color-3);
    margin-bottom: 40px;
}

.counts .title h3 {
    font-size: 36px;
    font-weight: 700;
}

.counts .counters span {
    font-size: 48px;
    display: block;
    color: #01b1d7;
}

.counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: var(--color-3);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: var(--color-3);
}

.services .icon-box i {
    float: left;
    color: #01b1d7;
    font-size: 40px;
    line-height: 0;
}

.services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .icon-box h4 a {
    color: #354144;
    transition: 0.3s;
}

.services .icon-box:hover h4 a {
    color: #01b1d7;
}

.services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #444444;
    border-radius: 4px;
    text-transform: uppercase;
    background: var(--color-3);
    margin: 0 15px 5px 0;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #01b1d7;
    color: var(--color-3);
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-wrap img {
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(53, 65, 68, 0.6);
    padding-bottom: 30px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: var(--color-3);
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: var(--color-3);
    font-size: 14px;
    text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-info .portfolio-links {
    display: flex;
}

.portfolio .portfolio-wrap .portfolio-info .portfolio-links a {
    color: #01b1d7;
    margin: 0 4px;
    background-color: var(--color-3);
    border-radius: 50px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-info .portfolio-links a i {
    font-size: 18px;
    line-height: 0;
}

.portfolio .portfolio-wrap .portfolio-info .portfolio-links a:hover {
    background: #01b1d7;
    color: var(--color-3);
}

.portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    padding-bottom: 0;
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--color-3);
    opacity: 1;
    border: 1px solid #01b1d7;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #01b1d7;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(53, 65, 68, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    background: var(--color-3);
}

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}

.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #354144;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b4c1c4;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #c2cdcf;
}

.team .member .social a i {
    color: var(--color-3);
    font-size: 16px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: #01b1d7;
}

.team .member .social a + a {
    margin-left: 8px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    padding: 80px 0;
    background: url("../img/testimonials-bg.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(8, 10, 11, 0.7);
}

.testimonials .section-header {
    margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    text-align: center;
    color: var(--color-3);
}

.testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: var(--color-3);
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #01b1d7;
}

@media (min-width: 1024px) {
    .testimonials {
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .testimonials .testimonial-item p {
        width: 80%;
    }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #f6f7f8;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 400;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4b5c61;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}
