/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
.table-admin tr th,
.table-admin tr td {
    width: 50%;
}

.table-admin tr th {
    text-align: right;
}

.table-admin tr td {
    text-align: left;
}

.table-admin.table-edit tr td input,
.table-admin.table-edit tr td select {
    height: 2em;
}

.table-admin.table-edit tr td input,
.table-admin.table-edit tr td textarea,
.table-admin.table-edit tr td select {
    width: 100%;
    padding-left: 0.25em;
}
