/*--------------------------------------------------------------
# Tools
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #01b1d7;
    text-decoration: none !important;
}

a:hover {
    color: #0dd3fe;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}
