/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

:root {
    --color-1: #004b9a;
    --color-2: #feec08;
    --color-3: #fff;
    --color-4: #62787d;

    --color-hsl-1: hsl(211, 100%, 30%);
    --color-hsl-2: hsl(211, 100%, 40%);
    --color-hsl-3: hsl(211, 100%, 90%);
}
