/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-wrap {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.contact .info {
    background: var(--white);
}

.contact .info i {
    font-size: 24px;
    color: var(--color-1);
    float: left;
    width: 48px;
    height: 48px;
    background: var(--color-hsl-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #354144;
}

.contact .info p,
.contact .info p a,
.contact .info p a:hover {
    color: var(--color-4);
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
}

.contact .info:hover i {
    background: var(--color-1);
    color: var(--white);
}

.contact .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: var(--white);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: var(--white);
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
}

.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: var(--white);
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: var(--white);
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input,
.contact .php-email-form .form-select {
    height: 44px;
    font-size: 14px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    background: var(--color-1);
    border: 1px solid var(--white);
    padding: 10px 16px;
    color: var(--white);
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]::before {
    content: "\f1d8";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    padding-right: 0.5em;
}

.contact .php-email-form button[type=submit]:hover {
    background: var(--color-hsl-3);
    color: var(--color-1);
    border: 1px solid var(--color-1);
}

.contact i.close {
    cursor: pointer;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
